@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .embla {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
  }
  .embla__slide_120 {
    position: relative;
    flex: 0 0 600px;
  }
  .embla__slide_120 {
    position: relative;
    flex: 0 0 100%;
  }
  .embla__slide_35 {
    position: relative;
    flex: 0 0 100%;
  }
  ,
  @variants responsive {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
